<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.aiyou.mapper"/>
    <context:annotation-config/>
    <!--数据库连接池-->
    <!--加载数据库配置文件-->
    <context:property-placeholder location="classpath:properties/db.properties"/>

    <!--数据库连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="maxActive" value="10"/>
        <property name="minIdle" value="5"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations">
            <list>
                <value>classpath*:/com/aiyou/mapperxml/**/*.xml</value>
            </list>
        </property>
        <property name="typeAliasesPackage" value="com.aiyou.entity"/>

        <!-- 配置mybatis分页插件PageHelper -->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <!-- 使用默认的配置 -->
                        <value></value>
                    </property>
                </bean>
            </array>
        </property>

        <property name="configuration" ref="configuration"/>
        <!-- 配置改参数必须要配置先配置configuration-->
        <!--<property name="configurationProperties"/>-->
    </bean>
    <!--mybatis setting-->
    <bean id="configuration" class="org.apache.ibatis.session.Configuration">
        <property name="cacheEnabled" value="true"/>
        <property name="useGeneratedKeys" value="true"/>
        <property name="lazyLoadingEnabled" value="true"/>
        <property name="useColumnLabel" value="true"/>
        <property name="autoMappingBehavior" value="NONE"/>
        <property name="defaultExecutorType" value="SIMPLE"/>
        <property name="safeResultHandlerEnabled" value="true"/>
        <!--<property name="useActualParamName" value="true"/>-->
        <property name="logImpl" value="org.apache.ibatis.logging.slf4j.Slf4jImpl"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.aiyou.mapper"/>
    </bean>
</beans>